

<nav class="navbar navbar-expand-lg navbar-dark div-myNav">
  <div class="container-fluid x">
    <!-- <a class="navbar-brand logo" href="#">LOGO</a> -->
    <img src="../../assets/logoFin-removebg-preview(1).png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Brazil-Burger<span>.</span></h1>
        </a>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class=" text-dark" routerLink="/produits">Accueil</a></li>
            <li class="dropdown"><a class=" text-dark" href="#"><span>Nos produits</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a class=" text-dark" routerLink="/produits">burger</a></li>
                <li><a class=" text-dark" routerLink="/produits">menu</a></li>
              </ul>
            </li>
            <li><a class=" text-dark" routerLink="/commandes">Mes commandes</a></li>
            <li><a class=" text-dark" routerLink="/commandes/liste">Commandes</a></li>
            <li><a class=" text-dark" href="#chefs">Se connecter</a></li>
            <li><a class=" text-dark" routerLink="/panier">Panier</a></li>
            <span style="border: 1px solid; background-color: rgba(206, 18, 18, 0.8); width: 25px; height: 25px; color: white; border-radius: 50%; " class="text-center">{{(items$ | async).length}} </span>
          </ul>
          <!-- <input type="text" placeholder="Search" > -->
          
        </nav><!-- .navbar -->
  
        <a class="btn-book-a-table" href="#book-a-table">Compte</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
      </div>
    </header><!-- End Header -->

    

    <!-- <div class="item div-ul">
      <ul class="nav justify-content-center">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/produits">Nos produits
            <span class="visually-hidden"></span>
          </a>
        </li> <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/produits/add">Add
            <span class="visually-hidden"></span>
          </a>
        </li> 
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/produits/detail">Detail
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="">Panier <i class="fa-solid fa-cart-shopping ml-3"></i></a>
          
        </li>
      </ul>
    </div> -->
  </div>
</nav>

