

<nav class="navbar navbar-expand-lg navbar-dark div-myNav">
  <div class="container-fluid x">
    <!-- <a class="navbar-brand logo" href="#">LOGO</a> -->
    <img src="../../assets/logoFin-removebg-preview(1).png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="item div-ul">
      <ul class="nav justify-content-center">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/produits">Nos produits
            <span class="visually-hidden"></span>
          </a>
        </li> <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/produits/add">Add
            <span class="visually-hidden"></span>
          </a>
        </li> 
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/produits/detail">Detail
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="">Panier <i class="fa-solid fa-cart-shopping ml-3"></i></a>
          
        </li>
      </ul>
    </div>
  </div>
</nav>

