.jumbo{
    background-image: url(https://source.unsplash.com/1080x720/?hamburger);
    /* background-image: url(../../assets/hamburgers-grillés-délicieux-125333764.jpg); */
    background-size: 100% 100%;
    margin-bottom: 4%;
    min-height: 27em;
}
h1{
    color: white;
    font-weight: bold;
    margin-top: 153px;
}