<!-- <div class="jumbotron text-center jumbo" >
  <br>
    <h1 class="display-4">Bienvenue chez Brazil-Burger</h1>
    <hr class="my-4">
    <br><br>
</div> -->

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container"> 
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2  class="text-dark">La qualite c'est chez nous!!!<br>Delicious Food</h2>
        <p data-aos-delay="100" class="text-dark">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
        <!-- <div class="d-flex" data-aos="fade-up" data-aos-delay="200"> -->
          <!-- <a href="#book-a-table" class="btn-book-a-table">Book a Table</a> -->
          <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div> -->
      </div>
      <div class="col-lg-4 order-1  text-center text-lg-start">
        <img src="../../assets/img/hero-img.png" class="img-fluid" alt="" >
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->