<h1 class="fw-bold mb-0 text-black text-center">Nos Complements</h1> <br>

<!-- ***************** Nos frittes *********************** -->
<h2 class="fw-bold mb-0 text-black text-center" style="color: grey;">Nos Frittes</h2> <br>
<div  class="d-flex">
    <div class="card w-50 d-flex flex-column align-items-center row mb-4" *ngFor="let f of fritte.slice(0,4)" style="background-color: #e4e3e3; margin: 3em;">
        <div >
        <img [routerLink]="['/produits',+f.id]"
        img class="card-img-top" [src]="'data:image/jpg;base64,' + f.image" alt="Card image cap"
            class="img-fluid rounded-3">
        </div>
        <div class="c">
            <h6 class="text-muted">Nom</h6>
            <h6 class="text-black ">{{f.nom}}</h6>
        </div>
        <p class="price" style="color: rgba(206, 18, 18, 0.8); font-weight:bold" [innerText]="f.prix+' FCFA'"></p>
        <button class="btn btn-outline-warning" (click)="addPanier(f)">Ajouter au Panier</button>
    </div> 
</div>

    <!-- ***************** Nos Boissons *********************** -->
    <h2 class="fw-bold mb-0 text-black">Les PM</h2> <br>
    <div  class="d-flex">
        <div class="card w-50 d-flex flex-column align-items-center mb-4" *ngFor="let b of taille1"  
            style="background-color: #e4e3e3; margin: 3em">
            <div>
                <img img class="card-img-top" [src]="'data:image/jpg;base64,' + b.boisson.image" alt="Card image cap"
                class="img-fluid rounded-3" style=" width: 34em;">
            </div>
            <div class="c">
                <h6 class="text-muted">Nom</h6>
                <h6 class="text-black ">{{b.boisson.nom}}</h6>
            </div>
            <p class="price" style="color: rgba(206, 18, 18, 0.8); font-weight:bold"  [innerText]="taille[1].prix+'FCFA'"></p>
            <button class="btn btn-outline-warning" (click)="addPanier(b.boisson)">Ajouter au Panier</button>
        </div> 
    </div>


    <h2 class="fw-bold mb-0 text-black">Les GM</h2> <br>
    <div  class="d-flex">
        <div class="card  d-flex flex-column align-items-center" *ngFor="let b of taille2" class="row mb-4 d-flex  align-items-center " 
        style="background-color: #e4e3e3; margin: 3em">
            <div>
                <img img class="card-img-top" [src]="'data:image/jpg;base64,' + b.boisson.image" alt="Card image cap"
                class="img-fluid rounded-3" style=" width: 34em;">
            </div>
            <div class="c">
                <h6 class="text-muted">Nom</h6>
                <h6 class="text-black ">{{b.boisson.nom}}</h6>
            </div>
            <p class="price" style="color: rgba(206, 18, 18, 0.8); font-weight:bold" [innerText]="taille[2].prix+'FCFA'"></p>
            <button class="btn btn-outline-warning" (click)="addPanier(b.boisson)">Ajouter au Panier</button>
        </div> 
    </div>

    <!-- <h2 class="fw-bold mb-0 text-black">Les GM</h2> <br>
    <div  class="d-flex">
        <div class="card w-50 d-flex flex-column align-items-center" *ngFor="let b of taille3" class="row mb-4 d-flex  align-items-center " style="background-color: #e4e3e3;">
            <div>
                <img img class="card-img-top" [src]="'data:image/jpg;base64,' + b.boisson.image" alt="Card image cap"
                class="img-fluid rounded-3">
            </div>
            <div class="c">
                <h6 class="text-muted">Nom</h6>
                <h6 class="text-black ">{{b.boisson.nom}}</h6>
            </div>
            <p class="price" style="color: rgba(206, 18, 18, 0.8); font-weight:bold" [innerText]="taille[3].prix+'FCFA'"></p>
            <button class="btn btn-outline-warning" (click)="addPanier(b.boisson)">Ajouter au Panier</button>
        </div> 
    </div> -->





            <!-- <div class="card w-50 d-flex  align-items-center" *ngFor="let b of boisson" style="background-color: #e4e3e3;">
                <div class="w-50">
                    <img  class="card-img-top " [src]="'data:image/jpg;base64,' + b.boisson.image" alt="Card image cap"
                    class="img-fluid rounded-3">
                </div>
                <div class="c">
                    <h6 class="text-muted">Nom</h6>
                    <h6 class="text-black ">{{b.boisson.nom}}</h6>
                </div>
                <p class="price" style="color: rgba(206, 18, 18, 0.8); font-weight:bold" [innerText]="t.prix+' FCFA'" ></p>
                <button class="btn btn-outline-warning" (click)="addPanier(t)">Ajouter au Panier</button> 
            </div>  -->
     



<!-- <section class="h-100 h-custom" style="background-color: #e4e3e3;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black text-center">Nos complements</h1>
                    </div> -->
                    <!-- ***************** Nos frittes *********************** -->
                    <!-- <h2 class="fw-bold mb-0 text-black">Nos Frittes</h2> <br>
                    <div *ngFor="let f of fritte" class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                        img class="card-img-top" [src]="'data:image/jpg;base64,' + f.image" alt="Card image cap"
                          class="img-fluid rounded-3">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">Nom</h6>
                        <h6 class="text-black mb-0">{{f.nom}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>
  
                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />
  
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{f.prix}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div> <br><br> -->
                    <!-- ***************** Nos Boissons *********************** -->
                    <!-- <h2 class="fw-bold mb-0 text-black">Nos Boissons</h2> <br>
                    <div *ngFor="let t of taille">
                        <h4 class="fw-bold mb-0 text-black">{{t.nom}}</h4>
                        <div *ngFor="let b of boisson" class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                            <img
                            img class="card-img-top" [src]="'data:image/jpg;base64,' + b.boisson.image" alt="Card image cap"
                                class="img-fluid rounded-3">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">Nom</h6>
                            <h6 class="text-black mb-0">{{b.boisson.nom}}</h6>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button class="btn btn-link px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                            </button>
        
                            <input id="form1" min="0" name="quantity" value="1" type="number"
                                class="form-control form-control-sm" />
        
                            <button class="btn btn-link px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fas fa-plus"></i>
                            </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">{{t.prix}}</h6>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pt-5">
                      <h6 class="mb-0"><a routerLink="/produits" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->