<app-carousel></app-carousel>
<h2 class="text-center">Liste de mes commandes</h2> <br>
<div class="search-hero" style="width: 15%">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
</div> <br>
<div class="row">
    <div >
        <table class="table container">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Etat</th>
                <th scope="col" colspan="2" class="text-center">Options</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of commandeClient | filter: searchText ">     
                    <td>{{c.date}}</td>
                    <td>{{c.etat}}</td>
                    <td class="text-center">
                        <a class="btn btn-outline-info" [routerLink]="['/client/commandes/',c.id]" style="margin-right: 2%;">Detail</a>
                        <a class="btn btn-outline-danger" *ngIf="c.etat == 'en cours'" (click)="changeEta(c.id, c.etat)">Annuler</a>
                        <a class="btn btn-outline-info" *ngIf="c.etat == 'annuler'" (click)="changeEta(c.id, c.etat)">recommander</a>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>

  
