<app-carousel></app-carousel>
<h2 class="text-center">Liste de mes commandes</h2> <br>
<div class="search-hero" style="width: 15%">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
</div> <br>
<div class="row">
    <div >
        <table class="table container">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Etat</th>
                <th scope="col" colspan="2" class="text-center">Options</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of commandeClient | filter: searchText">     
                    <td>{{c.date}}</td>
                    <td>{{c.etat}}</td>
                    <td><a [routerLink]="['/client/commandes/',c.id]"  (click)="detail(c.id)">Detail</a></td>
                    <td><a class="btn btn-outline-danger" (click)="changeEta(c.id)">Annuler</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>

  
