<div class="card" style="width: 18rem;">
    <div class="container">
        <span class="float-right " style="width: 5em;">+</span>
        <span class="text-center btb btn-sm bg-primary " style="width: 5em;" [innerText]="prod.prix"></span>
    </div>
    <img class="card-img-top" [src]="prod.image" alt="Card image cap">
    <div class="card-body">
        <hr>
      <h5 class="card-title text-center">{{ prod.nom }}</h5> <hr>
      <a href="#" class="btn btn-primary float-left">Voir Detail</a>
    </div>
</div>