<!-- ***********************Nos Produits ******************************** -->

      <div class="car menu-item">
        <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img [src]="'data:image/jpg;base64,' + prod.image" alt="Card image cap" class="menu-img img-fluid" alt=""></a>
        <h4>{{ prod.nom }}</h4>
        <p class="ingredients">
          Lorem, deren
        </p>
        <p class="price" style="color: rgba(206, 18, 18, 0.8); font-weight:bold" [innerText]="prod.prix"></p>
        <div class="d-flex" style="justify-content: space-between; font-weight: bold">
            <span class="btn btn-outline-warning" [routerLink]="['/produits', prod.id]" >Voir Detail</span>
           
            <button class="btn btn-outline-success" *ngIf="prod.type=='BURGER'" (click)="addPanier(prod)">+</button>
        </div>
      </div><!-- Menu Item -->
      
<!-- ***********************Nos Menu ******************************** -->
 
      










