
<br>
<!-- <div class="search-hero" style="width: 15%">
    <input class="form-control" type="date" name="search" autocomplete="off" placeholder="&#61442;  Search">
</div> <br><br> -->
 <!-- ********************** Selectionner un livreur *****************-->
 <strong><h3 class="text-center">Faire une livraisons</h3></strong> <br><br> 

 <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Livreurs Disponible</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Telephone</th>
                <th scope="col">Disponibilite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of livreur | filter: filtreLivreurDispo">
                <td >{{l.prenom}}</td>
                <td >{{l.nom}}</td>
                <td >{{l.telephone}}</td>
                <td >{{l.disponibilite}}</td>
                <td>
                  <input *ngIf="l.disponibilite=='oui'" class="form-check-input" type="radio" [(value)]="l.id"  (click)="livreurCheck(l.id, l.prenom, l.nom)" name="flexRadioDefault" id="flexRadioDefault2" >
                </td>
              </tr>
            </tbody>
          </table>              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <button type="button" class="btn btn-outline-danger btn-block btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Selecionner un livreur</button> <br> <br>
      <span *ngIf="myLivreur"><strong>Livreur choisit : </strong> {{prenomLivreur+ " " +nomLivreur}}</span>
    </div>

    <select class="select btn btn-outline-danger btn-block btn-lg" style="margin-left: 5%;">
        <option selected style="color: rgb(216, 213, 213);"> Zone de livraison !!!</option>
        <option *ngFor="let zone of data | filter: filtreZone" value={{zone.id}} (click)="zoneChoice(zone.id)">{{zone.nom_zone}}</option>
      </select>  
  </div> <br><br> <br><br>

 <div class="col-md-12 d-flex justify-content-center align-items-center">
    <div class="col-md-6 col">
        <div class="text-center bg-danger text-light " >Livraisons</div>
        <div class="d-flex " style="border: 1px solid grey;">
            <img src="../../assets/img/thiakthiak.png" class="img-fluid " alt="" style="width: 25%; max-height: 25%;">
            <div *ngFor="let zone of data" style=" margin-left: 2%;">
                <ul *ngFor="let comm of zone.commande">
                    <li *ngIf="comm.etat=='valider' && myZone==zone.id"> 
                            <span><strong>Client : </strong> </span>
                            {{comm.client.prenom+"  "+comm.client.nom}} <br>
                            <span><strong>Telephone : </strong> </span>
                            {{comm.client.telephone}}
                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel"  (change)="getIdCheck($event, comm.id)" aria-label="..."  style="margin-left: 5%;"/> 
                        <br>
                    </li> 
                </ul>
            </div> 
        </div>
      </div>
 </div> 
 <br><br> <br>

 <div class="card-body col-md-7">
    <button type="button" *ngIf="myZone && myLivreur" class="btn btn-warning btn-block btn-sm" style="float: right;" (click)="livrer()">Faire la livraison</button>
 </div>

 <!--  *********** livreur *************** -->
 <strong><h3 class="text-center">Traitement des livraison</h3></strong> <br><br> 
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Telephone</th>
      <th scope="col">Disponibilite</th>
      <th scope="col">Traitement</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of livreur | filter: filtreLivreurNonDispo">
      <td >{{l.prenom}}</td>
      <td >{{l.nom}}</td>
      <td >{{l.telephone}}</td>
      <td >{{l.disponibilite}}</td>
      <td>
        <a class="btn btn-outline-warning" [routerLink]="['/admin/livraisons/livreur/',l.id]"> traitement </a>
      </td>
    </tr>
  </tbody>
</table>  <br> <br><br>  


 <div> 
  <h3 class="text-center" *ngIf="filtreEtatLivraison=='etape 1'">Livraisons en cours</h3>
  <h3 class="text-center" *ngIf="filtreEtatLivraison!='etape 1'">Liste des livraisons </h3>

  <div class="search-hero" style="width: 15%">
      <input class="form-control" type="text" name="search" [(ngModel)]="filtreEtatLivraison" autocomplete="off" placeholder="&#61442;  Search">
  </div>
    <table class="table container" >
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Livreur</th>
            <th scope="col">Telephone Livreur</th>
            <th scope="col">Etat</th>
            <th scope="col" colspan="2" class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let li of tabLivraison | filter: filtreEtatLivraison" >     
                  <td>{{li.date}}</td>
                  <td>{{li.livreur.prenom+ " " +li.livreur.nom }}</td>
                  <td>{{li.livreur.telephone}}</td>
                  <td>{{li.etat}}</td>
                  <td class="text-center">
                    <a class="btn btn-outline-warning" [routerLink]="['/admin/livraisons/',li.id]">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
</div>

