
<br>
<div class="search-hero" style="width: 15%">
    <input class="form-control" type="date" name="search" autocomplete="off" placeholder="&#61442;  Search">
</div> <br>
 <!-- ********************** Selectionner un livreur *****************-->
 <button type="button" class="btn btn-outline-warming" data-bs-toggle="modal" data-bs-target="#exampleModal">Selecionner un livreur</button>

 <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Livreurs</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Telephone</th>
                <th scope="col">Disponibilite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of livreur">
                <td >{{l.prenom}}</td>
                <td >{{l.nom}}</td>
                <td >{{l.telephone}}</td>
                <td >{{l.disponibilite}}</td>
                <td>
                  <input *ngIf="l.disponibilite=='oui'" class="form-check-input" type="radio" [(value)]="l.id"  (click)="livreurCheck(l.id)" name="flexRadioDefault" id="flexRadioDefault2" >
                </td>
              </tr>
            </tbody>
          </table>              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <select class="select">
    <option *ngFor="let zone of data" value={{zone.id}} (click)="zoneChoice(zone.id)">{{zone.nom_zone}}</option>
  </select>


<div class="row">
        <table class="table table-sm">
            <thead>
            <tr class="text-center">
                <th scope="col">Zones</th>
                <th scope="col">Commandes Valide</th>
                <th scope="col" colspan="2" class="text-center">Options</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let zone of data">     
                    <td class="text-center">{{zone.nom_zone}}</td>
                    <td class="text-center">
                        <ul *ngFor="let comm of zone.commande">
                            <li *ngIf="comm.etat=='valider' && myZone==zone.id"> 
                                    <span><strong>Telephone: </strong> </span>
                                    {{comm.client.telephone}}
                                    <input class="form-check-input " type="checkbox" id="checkboxNoLabel"  (change)="getIdCheck($event, comm.id)" aria-label="..."  style="margin-left: 5%;"/> 
                                    <ul>
                                        <li *ngFor="let ligne of comm.ligneCommande">
                                        <span> <strong>Produits:</strong>{{ligne.produit.nom}}</span> 
                                        </li>
                                    </ul> 
                                <br>
                            </li> 
                        </ul>
                    </td>
                    <td class="text-center">
                        <!-- <a class="btn btn-outline-warning " >Detail</a>
                        <a class="btn btn-outline-danger" >Annuler</a>    -->
                    </td>
                   
                </tr>
            </tbody>
        </table>
        <div class="card">
            <div class="card-body">
              <button type="button"  class="btn btn-warning btn-block btn-lg" style="float: right;"  (click)="livrer()">Faire la livraison</button>
            </div>
        </div>
</div>    



